openapi: 3.0.3
info:
  title: Frame API
  version: "2025-01-01"
servers:
  - url: https://api.framepayments.com
tags:
  - name: Transfers
    description: Core Transfers — money movement in either direction
  - name: PaymentMethods
    description: PaymentMethods — cards and bank accounts a Transfer moves money from or to
  - name: Accounts
    description: Accounts — the parties a merchant transacts with
  - name: Capabilities
    description: Capabilities — permissions an Account requests
  - name: WebhookEndpoints
    description: Webhooks — endpoints that receive your events
  - name: Products
    description: Products — goods and services you bill for
  - name: Invoices
    description: Invoices — bills sent to an Account, with their line items
paths:
  /v2/transfers:
    get:
      operationId: listTransfers
      summary: List Core Transfers
      tags: [Transfers]
      parameters:
        - name: per_page
          in: query
          description: Number of transfers per page (1-100, default 10)
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Page number to return, starting at 1
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: A page of Core Transfers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferList"
        "401":
          $ref: "#/components/responses/Error"
    post:
      operationId: createTransfer
      summary: Create a Core Transfer
      tags: [Transfers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferCreate"
      responses:
        "201":
          description: The created Core Transfer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        "400":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /v2/transfers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Core Transfer
        schema:
          type: string
    get:
      operationId: retrieveTransfer
      summary: Retrieve a Core Transfer
      tags: [Transfers]
      responses:
        "200":
          description: The Core Transfer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        "404":
          $ref: "#/components/responses/Error"
  /v2/transfers/{id}/confirm:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Core Transfer
        schema:
          type: string
    post:
      operationId: confirmTransfer
      summary: Confirm a Core Transfer so it starts moving money
      tags: [Transfers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The updated Transfer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        "422":
          $ref: "#/components/responses/Error"
  /v2/transfers/{id}/refund:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Core Transfer
        schema:
          type: string
    post:
      operationId: refundTransfer
      summary: Refund a completed inbound Core Transfer
      tags: [Transfers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferRefund"
      responses:
        "200":
          description: The updated Transfer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        "422":
          $ref: "#/components/responses/Error"
  /v2/transfers/{id}/capture:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Core Transfer
        schema:
          type: string
    post:
      operationId: captureTransfer
      summary: Capture an authorized Core Transfer
      tags: [Transfers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferCapture"
      responses:
        "200":
          description: The updated Transfer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        "422":
          $ref: "#/components/responses/Error"
  /v2/transfers/{id}/void:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Core Transfer
        schema:
          type: string
    post:
      operationId: voidTransfer
      summary: Void an authorized Core Transfer before capture
      tags: [Transfers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The updated Transfer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        "422":
          $ref: "#/components/responses/Error"
  /v1/payment_methods:
    get:
      operationId: listPaymentMethods
      summary: List PaymentMethods
      tags: [PaymentMethods]
      parameters:
        - name: account
          in: query
          description: Only return payment methods attached to this Account id
          schema:
            type: string
        - name: type
          in: query
          description: Only return payment methods of this type
          schema:
            type: string
            enum: [card, ach]
        - name: per_page
          in: query
          description: Number of payment methods per page (1-100, default 10)
          schema:
            type: integer
        - name: page
          in: query
          description: Page number to return, starting at 1
          schema:
            type: integer
      responses:
        "200":
          description: A page of PaymentMethods
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodList"
    post:
      operationId: createPaymentMethod
      summary: Create a PaymentMethod
      tags: [PaymentMethods]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodCreate"
      responses:
        "201":
          description: The created PaymentMethod
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        "422":
          $ref: "#/components/responses/Error"
  /v1/payment_methods/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the PaymentMethod
        schema:
          type: string
    get:
      operationId: retrievePaymentMethod
      summary: Retrieve a PaymentMethod
      tags: [PaymentMethods]
      responses:
        "200":
          description: The PaymentMethod
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        "404":
          $ref: "#/components/responses/Error"
  /v1/payment_methods/{id}/block:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the PaymentMethod
        schema:
          type: string
    post:
      operationId: blockPaymentMethod
      summary: Block a PaymentMethod on the merchant blocklist
      tags: [PaymentMethods]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The updated PaymentMethod
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        "422":
          $ref: "#/components/responses/Error"
  /v1/payment_methods/{id}/unblock:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the PaymentMethod
        schema:
          type: string
    post:
      operationId: unblockPaymentMethod
      summary: Remove a PaymentMethod from the merchant blocklist
      tags: [PaymentMethods]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The updated PaymentMethod
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        "422":
          $ref: "#/components/responses/Error"
  /v1/payment_methods/{id}/attach:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the PaymentMethod
        schema:
          type: string
    post:
      operationId: attachPaymentMethod
      summary: Attach a PaymentMethod to an Account
      tags: [PaymentMethods]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodAttach"
      responses:
        "200":
          description: The updated PaymentMethod
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        "422":
          $ref: "#/components/responses/Error"
  /v1/payment_methods/{id}/detach:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the PaymentMethod
        schema:
          type: string
    post:
      operationId: detachPaymentMethod
      summary: Detach a PaymentMethod from its Account
      tags: [PaymentMethods]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The updated PaymentMethod
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        "422":
          $ref: "#/components/responses/Error"
  /v1/accounts:
    get:
      operationId: listAccounts
      summary: List Accounts
      tags: [Accounts]
      parameters:
        - name: type
          in: query
          description: Only return accounts of this type
          schema:
            type: string
            enum: [individual, business]
        - name: per_page
          in: query
          description: Number of accounts per page (1-100, default 10)
          schema:
            type: integer
        - name: page
          in: query
          description: Page number to return, starting at 1
          schema:
            type: integer
      responses:
        "200":
          description: A page of Accounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountList"
    post:
      operationId: createAccount
      summary: Create an Account
      tags: [Accounts]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountCreate"
      responses:
        "201":
          description: The created Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "422":
          $ref: "#/components/responses/Error"
  /v1/accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Account
        schema:
          type: string
    get:
      operationId: retrieveAccount
      summary: Retrieve an Account
      tags: [Accounts]
      responses:
        "200":
          description: The Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "404":
          $ref: "#/components/responses/Error"
  /v1/accounts/{account_id}/capabilities:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Id of the Account requesting the capabilities
        schema:
          type: string
    post:
      operationId: requestCapabilities
      summary: Request Capabilities for an Account
      tags: [Capabilities]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CapabilityRequest"
      responses:
        "200":
          description: The Account's Capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilityList"
        "422":
          $ref: "#/components/responses/Error"
  /v1/webhook_endpoints:
    get:
      operationId: listWebhookEndpoints
      summary: List Webhook endpoints
      tags: [WebhookEndpoints]
      parameters:
        - name: per_page
          in: query
          description: Number of endpoints per page (1-100, default 10)
          schema:
            type: integer
        - name: page
          in: query
          description: Page number to return, starting at 1
          schema:
            type: integer
      responses:
        "200":
          description: A page of Webhook endpoints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointList"
    post:
      operationId: createWebhookEndpoint
      summary: Create a Webhook endpoint
      tags: [WebhookEndpoints]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEndpointCreate"
      responses:
        "201":
          description: The created Webhook endpoint, including its signing secret
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "422":
          $ref: "#/components/responses/Error"
  /v1/webhook_endpoints/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Webhook endpoint
        schema:
          type: string
    get:
      operationId: retrieveWebhookEndpoint
      summary: Retrieve a Webhook endpoint
      tags: [WebhookEndpoints]
      responses:
        "200":
          description: The Webhook endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: updateWebhookEndpoint
      summary: Update a Webhook endpoint
      tags: [WebhookEndpoints]
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEndpointUpdate"
      responses:
        "200":
          description: The updated Webhook endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "422":
          $ref: "#/components/responses/Error"
    delete:
      operationId: deleteWebhookEndpoint
      summary: Delete a Webhook endpoint
      tags: [WebhookEndpoints]
      responses:
        "200":
          description: The deleted Webhook endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "404":
          $ref: "#/components/responses/Error"
  /v1/webhook_endpoints/{id}/rotate_secret:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Webhook endpoint
        schema:
          type: string
    post:
      operationId: rotateWebhookEndpointSecret
      summary: Replace a Webhook endpoint's signing secret with a new one
      tags: [WebhookEndpoints]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The Webhook endpoint with its new signing secret
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "404":
          $ref: "#/components/responses/Error"
  /v1/products:
    get:
      operationId: listProducts
      summary: List Products
      tags: [Products]
      parameters:
        - name: active
          in: query
          description: Only return active (true) or archived (false) products
          schema:
            type: boolean
        - name: per_page
          in: query
          description: Number of products per page (1-100, default 10)
          schema:
            type: integer
        - name: page
          in: query
          description: Page number to return, starting at 1
          schema:
            type: integer
      responses:
        "200":
          description: A page of Products
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductList"
    post:
      operationId: createProduct
      summary: Create a Product
      tags: [Products]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreate"
      responses:
        "201":
          description: The created Product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "422":
          $ref: "#/components/responses/Error"
  /v1/products/search:
    get:
      operationId: searchProducts
      summary: Search Products by name
      tags: [Products]
      parameters:
        - name: name
          in: query
          description: Text to match against product names
          schema:
            type: string
        - name: active
          in: query
          description: Only return active (true) or archived (false) products
          schema:
            type: boolean
      responses:
        "200":
          description: Matching Products
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductList"
  /v1/products/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Product
        schema:
          type: string
    get:
      operationId: retrieveProduct
      summary: Retrieve a Product
      tags: [Products]
      responses:
        "200":
          description: The Product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: updateProduct
      summary: Update a Product
      tags: [Products]
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdate"
      responses:
        "200":
          description: The updated Product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "422":
          $ref: "#/components/responses/Error"
    delete:
      operationId: deleteProduct
      summary: Delete a Product
      tags: [Products]
      responses:
        "200":
          description: The deleted Product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "404":
          $ref: "#/components/responses/Error"
  /v1/invoices:
    get:
      operationId: listInvoices
      summary: List Invoices
      tags: [Invoices]
      parameters:
        - name: account
          in: query
          description: Only return invoices billed to this Account id
          schema:
            type: string
        - name: status
          in: query
          description: Only return invoices with this status
          schema:
            type: string
            enum: [draft, outstanding, due, overdue, paid, written_off, voided]
        - name: per_page
          in: query
          description: Number of invoices per page (1-100, default 10)
          schema:
            type: integer
        - name: page
          in: query
          description: Page number to return, starting at 1
          schema:
            type: integer
      responses:
        "200":
          description: A page of Invoices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceList"
    post:
      operationId: createInvoice
      summary: Create a draft Invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceCreate"
      responses:
        "201":
          description: The created Invoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "422":
          $ref: "#/components/responses/Error"
  /v1/invoices/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Invoice
        schema:
          type: string
    get:
      operationId: retrieveInvoice
      summary: Retrieve an Invoice
      tags: [Invoices]
      responses:
        "200":
          description: The Invoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: updateInvoice
      summary: Update a draft Invoice
      tags: [Invoices]
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceUpdate"
      responses:
        "200":
          description: The updated Invoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "422":
          $ref: "#/components/responses/Error"
  /v1/invoices/{id}/issue:
    parameters:
      - name: id
        in: path
        required: true
        description: Id of the Invoice
        schema:
          type: string
    post:
      operationId: issueInvoice
      summary: Issue a draft Invoice to its Account
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The issued Invoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "422":
          $ref: "#/components/responses/Error"
  /v1/invoices/{invoice_id}/line_items:
    parameters:
      - name: invoice_id
        in: path
        required: true
        description: Id of the Invoice
        schema:
          type: string
    get:
      operationId: listInvoiceLineItems
      summary: List an Invoice's line items
      tags: [Invoices]
      responses:
        "200":
          description: The Invoice's line items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceLineItemList"
    post:
      operationId: createInvoiceLineItem
      summary: Add a line item to a draft Invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceLineItemCreate"
      responses:
        "201":
          description: The created line item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceLineItem"
        "422":
          $ref: "#/components/responses/Error"
  /v1/invoices/{invoice_id}/line_items/{id}:
    parameters:
      - name: invoice_id
        in: path
        required: true
        description: Id of the Invoice
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Id of the line item
        schema:
          type: string
    get:
      operationId: retrieveInvoiceLineItem
      summary: Retrieve an Invoice line item
      tags: [Invoices]
      responses:
        "200":
          description: The line item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceLineItem"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: updateInvoiceLineItem
      summary: Update a line item on a draft Invoice
      tags: [Invoices]
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceLineItemUpdate"
      responses:
        "200":
          description: The updated line item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceLineItem"
        "422":
          $ref: "#/components/responses/Error"
    delete:
      operationId: deleteInvoiceLineItem
      summary: Remove a line item from a draft Invoice
      tags: [Invoices]
      responses:
        "200":
          description: The deleted line item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "404":
          $ref: "#/components/responses/Error"
  /v1/transfers:
    get:
      operationId: listV1Transfers
      summary: List V1 transfers
      deprecated: true
      tags: [Transfers]
      responses:
        "200":
          description: A page of V1 transfers
  /v1/customers:
    get:
      operationId: listCustomers
      summary: List customers
      deprecated: true
      tags: [Customers]
      responses:
        "200":
          description: A page of customers
  /v1/charge_intents:
    get:
      operationId: listChargeIntents
      summary: List charge intents
      deprecated: true
      tags: [ChargeIntents]
      responses:
        "200":
          description: A page of charge intents
components:
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: Unique key that makes retrying this request safe; a replay returns the original response
      schema:
        type: string
  responses:
    Error:
      description: An API error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Amount:
      type: object
      properties:
        value:
          type: integer
          description: Amount in the smallest currency unit
        currency:
          type: string
          description: Three-letter ISO currency code
    Transfer:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        type:
          type: string
          enum: [payment, payout]
        status:
          type: string
        amount:
          $ref: "#/components/schemas/Amount"
        payment:
          type: object
          description: Present on inbound Transfers
          properties:
            status:
              type: string
            authorization_mode:
              type: string
              enum: [automatic, manual]
            failure_code:
              type: string
              nullable: true
            amount_captured:
              $ref: "#/components/schemas/Amount"
            amount_refunded:
              $ref: "#/components/schemas/Amount"
        created:
          type: integer
    TransferList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Transfer"
        meta:
          type: object
    TransferCreate:
      type: object
      required: [amount]
      properties:
        amount:
          type: object
          properties:
            value:
              type: integer
              description: Amount in the smallest currency unit
            currency:
              type: string
              description: Three-letter ISO currency code
              enum: [usd]
        source:
          type: object
          properties:
            payment_method_id:
              type: string
              description: PaymentMethod the funds are pulled from
        destination:
          type: object
          properties:
            account_id:
              type: string
              description: Account the funds are paid out to
        description:
          type: string
          description: Free-text description shown to the merchant
        confirm:
          type: boolean
          default: false
          description: Confirm the transfer immediately instead of leaving it for frame transfers confirm
        authorization_mode:
          type: string
          description: Capture automatically on confirm, or authorize only and capture later with frame transfers capture
          enum: [automatic, manual]
        metadata:
          type: object
          description: Free-form key-value pairs
    TransferRefund:
      type: object
      properties:
        amount:
          type: object
          properties:
            value:
              type: integer
              description: Amount to refund in the smallest currency unit; defaults to the full amount
    TransferCapture:
      type: object
      properties:
        amount:
          type: object
          properties:
            value:
              type: integer
              description: Amount to capture in the smallest currency unit; defaults to the authorized amount
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        type:
          type: string
          enum: [card, ach]
        status:
          type: string
        account_id:
          type: string
          nullable: true
        ach:
          type: object
          properties:
            account_type:
              type: string
            last_four:
              type: string
    PaymentMethodList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PaymentMethod"
        meta:
          type: object
    PaymentMethodCreate:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Kind of payment method
          enum: [card, ach]
        account:
          type: string
          description: Account id to attach the payment method to
        account_number:
          type: string
          description: Bank account number (ach)
        routing_number:
          type: string
          description: Nine-digit ABA routing number (ach)
        account_type:
          type: string
          description: Bank account type (ach)
          enum: [checking, savings]
        card_number:
          type: string
          description: Card number (card)
        exp_month:
          type: string
          description: Two-digit expiry month (card)
        exp_year:
          type: string
          description: Two-digit expiry year (card)
        cvc:
          type: string
          description: Card security code (card)
        billing:
          type: object
          description: Billing address; a card needs the full address before a Transfer will confirm
          properties:
            line_1:
              type: string
              description: Billing street address
            line_2:
              type: string
              description: Billing street address, second line
            city:
              type: string
              description: Billing city
            state:
              type: string
              description: Billing state or province
            postal_code:
              type: string
              description: Billing postal code
            country:
              type: string
              description: Billing country code
    PaymentMethodAttach:
      type: object
      required: [account]
      properties:
        account:
          type: string
          description: Account id to attach the payment method to
    Account:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        type:
          type: string
          enum: [individual, business]
        status:
          type: string
        external_id:
          type: string
          nullable: true
        created:
          type: integer
    AccountList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Account"
        meta:
          type: object
    AccountCreate:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Kind of party the Account represents
          enum: [individual, business]
        external_id:
          type: string
          description: Your own identifier for this Account
        terms_of_service:
          type: object
          properties:
            accepted_at:
              type: string
              description: ISO 8601 time the party accepted the terms of service
            ip_address:
              type: string
              description: IP address the terms of service were accepted from
        profile:
          type: object
          properties:
            individual:
              type: object
              properties:
                name:
                  type: object
                  properties:
                    first_name:
                      type: string
                      description: Legal first name
                    last_name:
                      type: string
                      description: Legal last name
                email:
                  type: string
                  description: Email address
                phone_number:
                  type: string
                  description: Phone number in E.164 format
                birthdate:
                  type: string
                  description: Date of birth (YYYY-MM-DD)
                address:
                  type: object
                  properties:
                    line_1:
                      type: string
                      description: Street address
                    city:
                      type: string
                      description: City
                    state:
                      type: string
                      description: Two-letter state code
                    postal_code:
                      type: string
                      description: Postal code
                    country:
                      type: string
                      description: Two-letter ISO country code
            business:
              type: object
              properties:
                legal_business_name:
                  type: string
                  description: Registered business name
                email:
                  type: string
                  description: Business email address
        metadata:
          type: object
          description: Free-form key-value pairs
    Capability:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        disabled_reason:
          type: string
          nullable: true
    CapabilityList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Capability"
    CapabilityRequest:
      type: object
      required: [capabilities]
      properties:
        capabilities:
          type: array
          description: Capabilities to request for the Account
          items:
            type: string
            enum: [card_receive, card_send, bank_account_receive, bank_account_send, kyc, kyc_prefill]
    Deleted:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        deleted:
          type: boolean
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        url:
          type: string
        status:
          type: string
        event_codes:
          type: array
          items:
            type: string
        description:
          type: string
          nullable: true
        secret:
          type: string
          description: Signing secret; returned on create and rotate_secret only
    WebhookEndpointList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEndpoint"
        meta:
          type: object
    WebhookEndpointCreate:
      type: object
      required: [url, event_codes]
      properties:
        url:
          type: string
          description: HTTPS URL the events are delivered to
        event_codes:
          type: array
          description: Event codes to deliver to the endpoint
          items:
            type: string
        description:
          type: string
          description: Free-text description of the endpoint
    WebhookEndpointUpdate:
      type: object
      properties:
        url:
          type: string
          description: HTTPS URL the events are delivered to
        event_codes:
          type: array
          description: Event codes to deliver to the endpoint
          items:
            type: string
        description:
          type: string
          description: Free-text description of the endpoint
    Product:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        active:
          type: boolean
        default_price:
          type: integer
        purchase_type:
          type: string
          enum: [one_time, recurring]
        recurring_interval:
          type: string
          nullable: true
        created:
          type: integer
    ProductList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        meta:
          type: object
    ProductCreate:
      type: object
      required: [name, description, default_price, purchase_type]
      properties:
        name:
          type: string
          description: Name shown to the buyer
        description:
          type: string
          description: Longer description shown to the buyer
        default_price:
          type: integer
          description: Price in the smallest currency unit
        purchase_type:
          type: string
          description: Sold once or on a recurring schedule
          enum: [one_time, recurring]
        recurring_interval:
          type: string
          description: Billing interval of a recurring product
          enum: [daily, weekly, monthly, every_3_months, every_6_months, yearly]
        shippable:
          type: boolean
          description: Whether the product is physically shipped
        url:
          type: string
          description: Public URL of the product
        metadata:
          type: object
          description: Free-form key-value pairs
    ProductUpdate:
      type: object
      properties:
        name:
          type: string
          description: Name shown to the buyer
        description:
          type: string
          description: Longer description shown to the buyer
        default_price:
          type: integer
          description: Price in the smallest currency unit
        shippable:
          type: boolean
          description: Whether the product is physically shipped
        url:
          type: string
          description: Public URL of the product
        metadata:
          type: object
          description: Free-form key-value pairs
    Invoice:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        invoice_number:
          type: string
          nullable: true
        status:
          type: string
          enum: [draft, outstanding, due, overdue, paid, written_off, voided]
        account:
          type: object
          properties:
            id:
              type: string
        total:
          type: integer
        currency:
          type: string
        due_date:
          type: string
          nullable: true
        created:
          type: integer
    InvoiceList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Invoice"
        meta:
          type: object
    InvoiceCreate:
      type: object
      required: [account, collection_method]
      properties:
        account:
          type: string
          description: Id of the Account the invoice is billed to
        collection_method:
          type: string
          description: Charge the Account's default PaymentMethod or email a payment request
          enum: [auto_charge, request_payment]
        net_terms:
          type: integer
          description: Days after issue until the invoice is due
        number:
          type: string
          description: Your own invoice number; generated when omitted
        description:
          type: string
          description: Free-text description shown on the invoice
        memo:
          type: string
          description: Note printed at the bottom of the invoice
        metadata:
          type: object
          description: Free-form key-value pairs
    InvoiceUpdate:
      type: object
      properties:
        collection_method:
          type: string
          description: Charge the Account's default PaymentMethod or email a payment request
          enum: [auto_charge, request_payment]
        net_terms:
          type: integer
          description: Days after issue until the invoice is due
        number:
          type: string
          description: Your own invoice number
        description:
          type: string
          description: Free-text description shown on the invoice
        memo:
          type: string
          description: Note printed at the bottom of the invoice
        metadata:
          type: object
          description: Free-form key-value pairs
    InvoiceLineItem:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        description:
          type: string
        quantity:
          type: integer
        unit_amount_cents:
          type: integer
        unit_amount_currency:
          type: string
    InvoiceLineItemList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLineItem"
        meta:
          type: object
    InvoiceLineItemCreate:
      type: object
      required: [product, quantity]
      properties:
        product:
          type: string
          description: Id of the Product being billed
        quantity:
          type: integer
          description: Number of units
    InvoiceLineItemUpdate:
      type: object
      properties:
        quantity:
          type: integer
          description: Number of units
    Error:
      type: object
      properties:
        code:
          type: string
        error_details:
          type: object
          properties:
            message:
              type: string
